<!DOCTYPE html>
<html>
	<title>OSU eMapR Lab | Publications</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="cache-control" content="no-cache">
	<link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="resources/images/favicon.ico" type="image/x-icon">
	<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
	<link rel="stylesheet" href="vendors/w3.css">
	<link rel="stylesheet" href="resources/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<!--<script src="resources/js/people_controller_noget.js"></script>-->
	<script src="resources/js/publications_controller_get.js"></script>
	<script src="resources/js/layout.js"></script>
	<style>
	</style>
	<body>
		<!-- Navbar (sit on top) -->
		<div class="w3-top">
			<ul class="w3-navbar w3-card-2 w3-white" id="myNavbar">
				<!--class="w3-navbar"-->
				<li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
					<a class="w3-hover-black" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
					<i class="fa fa-bars"></i>
					</a>
				</li>
				<li class="w3-hide-small"><a href="index.html"><i class="fa fa-home"></i> HOME</a></li>
				<li class="w3-hide-small"><a href="people.html"><i class="fa fa-user"></i> PEOPLE</a></li>
				<!--<li class="w3-hide-small"><a href="algorithms.html"><i class="fa fa-line-chart"></i> ALGORITHMS</a></li>-->
				<li class="w3-hide-small"><a href="projects.html"><i class="fa fa-th"></i> PROJECTS</a></li>
				<!--<li class="w3-hide-small"><a href="data.html"><i class="fa fa-database"></i> DATA</a></li>-->
                <li class="w3-hide-small"><a href="education.html"><i class="fa fa-graduation-cap"></i> EDUCATION</a></li>
				<li class="w3-left-align tab-active"><a href="publications.html"><i class="fa fa-file-text"></i> PUBLICATIONS</a></li>
				<li class="w3-hide-small"><a href="contact.html"><i class="fa fa-envelope"></i> CONTACT</a></li>
				<li class="w3-hide-small w3-right"><a href="http://oregonstate.edu/" target="_blank" class="w3-hover-grey w3-orange">OSU</a></li>
			</ul>
			<!-- Navbar on small screens -->
			<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
				<ul class="w3-navbar w3-left-align w3-white">
					<li><a href="index.html" onclick="toggleFunction()"><i class="fa fa-home"></i> HOME</a></li>
					<li><a href="people.html" onclick="toggleFunction()"><i class="fa fa-user"></i> PEOPLE</a></li>
					<!--<li><a href="algorithms.html" onclick="toggleFunction()"><i class="fa fa-line-chart"></i> ALGORITHMS</a></li>-->
					<li><a href="projects.html" onclick="toggleFunction()"><i class="fa fa-th"></i> PROJECTS</a></li>
					<!--<li><a href="data.html" onclick="toggleFunction()"><i class="fa fa-database"></i> DATA</a></li>-->
                    <li><a href="education.html" onclick="toggleFunction()"><i class="fa fa-graduation-cap"></i> EDUCATION</a></li>
					<li><a href="publication.html" onclick="toggleFunction()"><i class="fa fa-file-text"></i> PUBLICATIONS</a></li>
					<li><a href="contact.html" onclick="toggleFunction()"><i class="fa fa-envelope"></i> CONTACT</a></li>
				</ul>
			</div>
		</div>
		<div class="w3-content w3-container w3-padding-64">
			<div>
				<img style="width:100%" src="resources/images/publications/publications_word_cloud.svg">
			</div>
			<div ng-app="myApp">
				<div ng-controller="pubCtrl">
					<div class="" ng-repeat="year in pubs.years">
						<h3 ng-cloak>{{ year.year }} </h3>
						<div class="w3-panel w3-leftbar w3-border-dark-grey w3-light-grey" ng-repeat="pub in year.pubs">
							<p ng-cloak>{{ pub.citation }}</p>
						</div>
					</div>		
				</div>
            </div>
        </div>
	</body>
</html>